.container {
  h4 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
  }
  p {
    font-weight: 100;
    font-size: 14px;
  }
}

#myBtn {
  color: white;
  font-size: 12px;
  background-color: #8A8635;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.etape {
  width: 300px;
}
