<div class="container d-flex justify-content-center">
  <div class="mini-navbar">
    <div class="item">
      <i class="fas fa-map"></i>
    </div>
    <div class="item">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <i class="fas fa-tasks"></i>
    </div>
    <div class="item">
      <i class="fas fa-comments"></i>
    </div>
  </div>
</div>
