<%= render 'shared/sidebar' %>

<div class="container">
  <div class="container-btn d-flex justify-content-center">
    <%= link_to "Créer un projet", new_project_path, class: "btn btn-home" %>
  </div>

<div class="container">
    <div class="container-cards d-flex justify-content-center">
      <div class="cards-projects">
        <div class="card-projects">

        </div>
      </div>
    </div>
</div>
