<div class="container-form" >
  <h3>Project details</h3>
  <div class="d-flex justify-content-between">
    <p style="font-size: 12px;">Please fill your information about your project</p>
    <b style="font-size: 12px;">3/3</b>
  </div>
  <%= render 'form', project: @project, step: @step%>
</div>
