<div class="container" >
  <h1>Project details</h1>
  <div class="d-flex justify-content-between">
    <p>Please fill your information about your project</p>
    <b>2/3</b>
  </div>
  <%= render 'form', project: @project, step: @step%>
</div>
