.btn-home {
  color: white;
  border: 1px solid white;
  background-color: #AE431E;
  // padding: 10px 48px;
  margin-top: 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  display: flex;
  width: 20%;
  justify-content: center;
  font-size: 25px;
  align-self: center;
  font-size: 16px;
}

.btn-home:hover {
  opacity: 1;
  color: white;
}

.new-btn {
    color: #8A8635;
    border: 1px solid #8A8635;
    padding: 6px 18px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

 .new-btn:hover {
   opacity: 1;
   background-color: #8A8635;
   color: white;
}

.btn-principal{
  color: white;
  background-color: #8A8635;
  padding: 6px 18px;
  border-radius: 50px;
  border: 1px solid #8A8635;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: background 0.3s ease;
}

.btn-principal:hover {
  background: #7d792e;
  color: white;
}
