.chatroom {
  background: rgba(233, 200, 145, 0.2);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-top: 30px;
  border-radius: 25px;
  margin-bottom: 9px;
  height: calc(100vh - 175px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 30px 30px 20px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  p{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: auto;
    padding: 16px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
  }

  i{
    color: lighten rgba(137, 134, 53, 8%);
    padding-left: 6px;
    font-size: 12px;
  }

  .messages {
    height: 100%;

    overflow: hidden visible;
    padding: 1rem;
  }

  #new_message {
  border-top: 1px solid $gray-200;
  padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
