.event-type{
  // margin: 15px 0;
  width: 530px;
}

.event-card{
  width: 550px;
}

.event{
  font-size: 12px;
  font-family: "Open sans";
  margin-bottom: 4px;
}

.events h4{

font-weight: 600;
margin-bottom: 25px;
padding: 0px 30px;
}

.eventtitre{
  font-family: "Open sans";
  margin-left: 3px;
  font-weight: bold;
}

#logement > .event-type{
  border-right: solid 10px #8FC1D4;
  #fontawesome {
    color:#8FC1D4;
    font-size: 20px;
  }
}

#restaurant > .event-type{
  border-right: solid 10px #FFB84E;
  #fontawesome {
    color:#FFB84E;
    font-size: 20px;
  }
}

#activités > .event-type{
  border-right: solid 10px #82954B;
  #fontawesome {
    color:#82954B;
    font-size:20px;
  }
}

#notes > .event-type{
  border-right: solid 10px #D06224;
  #fontawesome {
    color:#D06224;
    font-size: 20px;
  }
}

.flatpickr-input {
  display: none;
}

.container-event{
  margin: 0px 0px 10px 150px;
  padding: 0px;
  width: 100%;
}

.calendar{
  padding-left: 40px;
  padding-right: 0px;
}


.arrow-event{
  font-size: 40px;
  color: #8A8635;
  transition: background 0.3s ease;
}

.arrow-event:hover {
  color: #605d24;

}

.container-chart {
  width: 400px;
  margin: 50px 0 40px 230px;
  h5 {
    text-align: center;
    font-weight: 600;
  }
}
