.category-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 10%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 0px;
  text-align: left;
  padding: 10px;
  background-color: white;
}

#project_season_automne + label {
  background-image: url('envira-brands.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_season_automne:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}


#project_season_hiver + label {
  background-image: url('snowflake-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_season_hiver:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}

#project_season_printemps + label {
  background-image: url('seedling-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_season_printemps:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}

#project_season_été + label {
  background-image: url('sun-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_season_été:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}


//////////////////////////////////////////////
#project_transport_voiture + label {
  background-image: url('car-alt-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_transport_voiture:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}


#project_transport_train + label {
  background-image: url('train-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_transport_train:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}

#project_transport_avion + label {
  background-image: url('plane-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_transport_avion:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}

///////////////////////////////////////////
#project_theme_nature + label {
  background-image: url('mountain-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_theme_nature:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}

#project_theme_gastronomie + label {
  background-image: url('utensils-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_theme_gastronomie:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}

#project_theme_culture + label {
  background-image: url('university-solid.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

#project_theme_culture:checked + label {
  border: 2px solid #D06224;
  border-radius: 50%;
}
