.navbar-lewagon {
  justify-content: space-between;
  background: #9f3c1b;
  opacity: 2;
  position: sticky;
  top: 0;
  z-index: 11;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
}

.nav-btn:hover {
  color: white;
}

#navbarDropdown {
  display: flex;
  align-items: center;
}

.project-links{
  color: white;
  opacity: 0.5;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.project-links:hover{
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.mini-navbar {
  display: flex;
  width: 600px;
  justify-content: space-between;
  background-color: rgba(233, 200, 145, 0.3);
  padding: 10px 85px;
  border-radius: 10px;
  margin-top: 20px;
  .item {
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    i:hover{
      color: #AE431E;
    }
  }
  .icon-active{
    i {
      font-size: 19px;
      color: #AE431E;
    }
  }
}
