.titletasks{
  border-bottom: solid 1px #8A8635;
  width: 540px;
  margin-bottom: 10px;
  h6 {
    cursor: pointer;
  }
  h6:hover{
    font-weight: 600;
  }
}

form {
  display: flex;
  margin-top: 5px;
  .description {
    font-size: 14px;
    margin-left: 20px;
  }
}
