.event-type{
  width: 700Px;
  margin: 15px 0;
}

.events h3{
font-family: "Poppins";
margin-bottom: 25px;
// width: 300px;
font-weight: 450;
padding: 0px 30px;
}

#logement > .event-type{
  border-right: solid 10px #8FC1D4;
  #fontawesome {
    color:#8FC1D4;
    font-size: 30px;
    padding-bottom: 20px;
  }
}

#restaurant > .event-type{
  border-right: solid 10px #FFB84E;
  #fontawesome {
    color:#FFB84E;
    font-size: 30px;
    padding-bottom: 20px;
  }
}

#activités > .event-type{
  border-right: solid 10px #82954B;
  #fontawesome {
    color:#82954B;
    font-size:30px;
    padding-bottom: 20px;
  }
}

#notes > .event-type{
  border-right: solid 10px #D06224;
  #fontawesome {
    color:#D06224;
    font-size: 30px;
    padding-bottom: 20px;
  }
}

.flatpickr-input {
  display: none;
}

.container-event{
  margin: 55px 0px 10px 150px;
  padding: 0px;
  width: 100%;
}

.calendar{
  padding-left: 40px;
  padding-right: 0px;
}
